CRMAPI/Connected Services/MService/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SyncMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logicalName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="function" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncMobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncMobileSoapIn">
    <wsdl:part name="parameters" element="tns:SyncMobile" />
  </wsdl:message>
  <wsdl:message name="SyncMobileSoapOut">
    <wsdl:part name="parameters" element="tns:SyncMobileResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileServiceSoap">
    <wsdl:operation name="SyncMobile">
      <wsdl:input message="tns:SyncMobileSoapIn" />
      <wsdl:output message="tns:SyncMobileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileServiceSoap" type="tns:MobileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncMobile">
      <soap:operation soapAction="http://tempuri.org/SyncMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobileServiceSoap12" type="tns:MobileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncMobile">
      <soap12:operation soapAction="http://tempuri.org/SyncMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="MobileServiceSoap" binding="tns:MobileServiceSoap">
      <soap:address location="http://172.21.50.82:7921/MobileService.asmx" />
    </wsdl:port>
    <wsdl:port name="MobileServiceSoap12" binding="tns:MobileServiceSoap12">
      <soap12:address location="http://172.21.50.82:7921/MobileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>